.offers {
    height: 60vh;
    width: 65%;
    display: flex;
    margin: auto;
    padding: 0 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

.offers-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}

.offers p {
    font-size: 22px;
    font-weight: 600;
    color: #171717;
}

.offers button {
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background-color: #ff4141;
    color: white;
    border: none;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}